@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* COMIENZA EL STYLE BÁSICO DE LA PÁGINA */
.logos {
  width: 6em;
  height: 6em;
}

.disclaimer {
  display: none;
}

#logoPosada {
  display: none;
}

.containerBarra {
  width: 100%;
  height: 38em;
  background-image: url(../img/imagenplaya.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.containerBarra h1 {
  font-family: 'Cinzel', serif;
  color: #96763e;
  font-size: 35px;
  text-shadow: #000 1px 1px;
}

.titulo {
  margin-top: 181px;
}

article {
  font-size: xx-large;
}

/* STYLES BARRA DE NAVEGACIÓN */
#navbarNav {
  background-color: rgba(119, 92, 46, 0.3);
  margin: auto;
  padding: 35px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#navbarNav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-family: 'Nunito', sans-serif;
  position: relative;
}

#navbarNav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}

#navbarNav ul li a:hover {
  color: #fff;
}

#navbarNav ul li a:hover::before {
  width: 100%;
}

#navbarNav ul li a::before {
  content: "";
  height: 1px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0%;
  bottom: -1px;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  position: -webkit-sticky;
  position: sticky;
}

.container-fluid {
  padding: 0;
  background-color: rgba(119, 92, 46, 0.3);
}

/* STYLE DE PÁGINA BASE */
.container-main {
  background-color: rgba(119, 92, 46, 0.3);
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  border: 2px solid #000;
  padding-top: 30px;
}

.container-main h2 {
  text-align: center;
  font-size: 1.3em;
  margin: 40px 0;
  font-family: 'Lato', sans-serif;
}

.container-main section {
  padding: 20px 5px;
}

.container-main p {
  margin: 0 30px;
}

.container-footer {
  -o-object-position: bottom;
     object-position: bottom;
  background-color: rgba(119, 92, 46, 0.3);
  width: 100%;
  padding: 10px;
}

.container-footer a {
  text-decoration: none;
}

.container-footer i {
  color: #96763e;
  width: 3em;
}

.redirecciones {
  text-align: center;
}

.carousel {
  padding-bottom: 2em;
}

.recomendacion {
  padding-top: 1em;
}

.colorPrincipal {
  color: #96763e;
}

#carouselExampleSlidesOnly {
  width: 30em;
}

.carouselBorder {
  border: 5px solid #fff;
  border-radius: 1px;
}

.containerInicio {
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subtitulosContainer {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  padding-bottom: 3em;
}

.subtitulosContainer h2 {
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
}

.subtitulosContainer p {
  margin: auto text-align center;
  font-size: 1.7em;
}

.subtitulosContainer p a {
  color: #000;
}

.subtitulosContainer-1 {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  padding-bottom: 3em;
}

.subtitulosContainer-1 h2 {
  font-size: 1.8em;
  font-family: 'Lato', sans-serif;
}

.subtitulosContainer-1 p {
  margin: auto text-align center;
  font-size: 1.7em;
}

.subtitulosContainer-1 p a {
  color: #000;
}

.subtitulosContainer-2 {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  padding: 6em 0;
}

.subtitulosContainer-2 h2 {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
}

.subtitulosContainer-2 p {
  margin: auto text-align center;
  font-size: 1.7em;
}

.subtitulosContainer-2 p a {
  color: #000;
}

.containerInicio {
  padding-top: 7em;
}

/* STYLES CONTACTO */
.formularioContacto {
  width: 30%;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.formularioContacto label {
  font-weight: bolder;
  font-size: 1.4em;
  padding: 0.7em 0;
}

.formularioContacto p {
  font-weight: bolder;
  font-size: 2em;
  padding-top: .6em;
}

.formularioContacto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.campoEscritura {
  width: 80%;
  height: 3em;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  outline: 0;
}

.contactoPersonal {
  width: 27%;
  text-align: center;
  margin: auto;
}

.contactoPersonal ul li {
  list-style-type: none;
}

.contactoPersonal ul li a {
  text-decoration: underline;
  color: #000;
  font-size: 1.5em;
}

.contactoPersonal p {
  font-weight: bolder;
  font-size: 2em;
  padding-bottom: 1.2em;
}

.caller {
  padding-bottom: 50px;
}

.containerContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 3em;
}

.sendForm {
  padding: .7em 0;
}

/* STYLES UBICACIÓN */
.ubicacionPosada {
  margin: auto;
  width: 80%;
}

.ubicacionPosada iframe {
  width: 100%;
}

/* STYLES ATRACCIONES */
.paddingBox {
  padding: 5em 0;
}

.paddingBox .greyBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5em 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  background-color: #999;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.paddingBox .greyBox h3 {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-bottom: 1em;
}

.paddingBox .greyBox .itemList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.paddingBox .greyBox .itemList li {
  font-size: 1.3em;
}

.paddingBox .greyBox p {
  padding-top: 1em;
  text-align: center;
  font-size: 1.1em;
}

.paddingBox .greyBox #inicioP {
  font-size: 1.3em;
}

/* APARECE EL LOGO */
@media screen and (max-width: 991px) {
  #logoPosada {
    display: block;
    width: 6em;
  }
}

/* MOBILE DESIGN */
@media (min-width: 769px) and (max-width: 1024px) {
  /* RESPONSIVE VALORACIONES PÁGINA BASE */
  .container-fluid {
    padding: .5em 0;
  }
  .subtitulosContainer-1 {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subtitulosContainer-1 p {
    font-size: 1.7em;
  }
  #carouselExampleSlidesOnly {
    margin: auto;
  }
  .containerInicio {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
  }
  .subtitulosContainer-2 {
    width: 90%;
  }
  .subtitulosContainer-2 p {
    font-size: 1.4em;
  }
  /* STYLES CONTACTO */
  .containerContacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formularioContacto {
    width: 90%;
  }
  .campoEscritura {
    width: 70%;
  }
  .contactoPersonal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    padding-top: 3em;
  }
  .contactoPersonal p {
    font-size: 1.3em;
  }
  .contactoPersonal ul {
    text-align: center;
  }
  .contactoPersonal ul li a {
    font-size: 1.3em;
  }
  .caller {
    padding-bottom: 27px;
  }
  /* STYLES ATRACCIONES */
  .subtitulosContainer {
    width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  /* RESPONSIVE VALORACIONES PÁGINA BASE */
  .container-fluid {
    padding: .5em 0;
  }
  .subtitulosContainer-1 {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subtitulosContainer-1 p {
    font-size: 1.7em;
  }
  #carouselExampleSlidesOnly {
    margin: auto;
    width: 26em;
  }
  .containerInicio {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
  }
  .subtitulosContainer-2 {
    width: 90%;
  }
  .subtitulosContainer-2 p {
    font-size: 1.4em;
  }
  /* STYLES CONTACTO */
  .containerContacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formularioContacto {
    width: 90%;
  }
  .campoEscritura {
    width: 90%;
  }
  .contactoPersonal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    padding-top: 3em;
  }
  .contactoPersonal p {
    font-size: 1.3em;
  }
  .contactoPersonal ul {
    text-align: center;
  }
  .contactoPersonal ul li a {
    font-size: 1.3em;
  }
  /* STYLES ATRACCIONES */
  .subtitulosContainer {
    width: 90%;
  }
  .paddingBox .greyBox {
    width: 90%;
  }
  .paddingBox .greyBox .itemList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  /* RESPONSIVE VALORACIONES PÁGINA BASE */
  .container-fluid {
    padding: .5em 0;
  }
  .subtitulosContainer-1 {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subtitulosContainer-1 h2 {
    font-size: 1.5em;
  }
  .subtitulosContainer-1 p {
    font-size: 1.7em;
  }
  #carouselExampleSlidesOnly {
    margin: auto;
    width: 95%;
  }
  .containerInicio {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
  }
  .subtitulosContainer-2 {
    width: 90%;
  }
  .subtitulosContainer-2 p {
    font-size: 1.4em;
  }
  /* STYLES CONTACTO */
  .containerContacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formularioContacto {
    width: 90%;
  }
  .campoEscritura {
    width: 90%;
  }
  .contactoPersonal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    padding-top: 3em;
  }
  .contactoPersonal p {
    font-size: 1.3em;
  }
  .contactoPersonal ul {
    text-align: center;
  }
  .contactoPersonal ul li a {
    font-size: 1.3em;
  }
  .caller {
    padding-bottom: 20px;
  }
  /* STYLES ATRACCIONES */
  .subtitulosContainer {
    width: 90%;
  }
  .subtitulosContainer p {
    font-size: 1.4em;
  }
  .paddingBox .greyBox {
    width: 90%;
  }
  .paddingBox .greyBox .itemList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */