/* COMIENZA EL STYLE BÁSICO DE LA PÁGINA */
/* STYLES BARRA DE NAVEGACIÓN */
/* STYLE DE PÁGINA BASE */
/* GRID LAYOUT IMAGENES */
/* STYLES HABITACIONES */
/* STYLES CONTACTO */
/* STYLES UBICACIÓN  */
/* STYLES ATRACCION */
/* SMALL LAPTOPS DESIGN */
/* RESPONSIVE VALORACIONES PÁGINA BASE */
/* RESPONSIVE HABITACIONES */
/* STYLES CONTACTO */
/* ATRACCIONES */
/* TABLETS DESIGN */
/* RESPONSIVE VALORACIONES PÁGINA BASE */
/* RESPONSIVE HABITACIONES */
/* STYLES CONTACTO */
/* MOBILE DESIGN */
/* RESPONSIVE VALORACIONES PÁGINA BASE */
/* RESPONSIVE HABITACIONES */
/* STYLES CONTACTO */
* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
.logos {
	width: 6em;
	height: 6em;
}
.containerBarra {
	width: 100%;
	height: 38em;
	background-image: url(../img/imagenplaya.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	h1 {
		font-family: 'Cinzel', serif;
		color: #96763e;
		font-size: 40px;
		text-shadow: #000 1px 1px;
	}
}
.titulo {
	margin-top: 180px;
}
article {
	font-size: xx-large;
}
#navbarNav {
	background-color: rgba(119, 92, 46, 0.3);
	margin: auto;
	padding: 35px 0;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	ul {
		li {
			list-style: none;
			display: inline-block;
			margin: 0 20px;
			font-family: 'Nunito', sans-serif;
			position: relative;
			a {
				color: rgb(0, 0, 0);
				text-decoration: none;
				font-size: 1.1em;
				font-weight: bold;
				&:hover {
					color: #fff;
					&::before {
						width: 100%;
					}
				}
				&::before {
					content: "";
					height: 1px;
					width: 0;
					background: #fff;
					position: absolute;
					left: 0%;
					bottom: -1px;
					transition: 0.1s ease-out;
				}
			}
		}
	}
}
.navbar {
	padding: 0;
}
.navbar-nav {
	position: sticky;
}
.container-fluid {
	padding: 0;
	background-color: rgba(145, 102, 32, 0.3);
}
.container-main {
	background-color: rgba(145, 102, 32, 0.3);
	width: 100%;
	height: 100%;
	font-family: 'Nunito', sans-serif;
	border: 2px solid #000;
	padding-top: 30px;
	h2 {
		text-align: center;
		font-size: 1.3em;
		margin: 40px 0;
	}
	section {
		padding: 20px 5px;
	}
	p {
		margin: 0 30px;
	}
}
.container-footer {
	object-position: bottom;
	background-color: rgba(145, 102, 32, 0.2);
	width: 100%;
	padding: 10px;
	a {
		text-decoration: none;
	}
	i {
		width: 3em;
	}
}
.redirecciones {
	text-align: center;
}
.carousel {
	padding-bottom: 2em;
}
.recomendacion {
	padding-top: 1em;
}
.valoracionesItem {
	img {
		width: 17em;
		height: auto;
		padding-top: 1.5em;
	}
}
.valoraciones {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
}
.imagesValoracion {
	&:hover {
		transform: scale(1.03, 1.03);
	}
}
.flexContainer {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 12em 7em;
	font-size: xx-large;
}
.flexTable-1 {
	display: flex;
	flex-direction: column;
	border: 1px solid #000;
	display: inline-block;
}
.flexTable-2 {
	display: flex;
	flex-direction: column;
	border: 1px solid #000;
	display: inline-block;
}
.flexItem {
	height: 2em;
}
.container__photos {
	margin: 2em;
}
.imagenes-habitaciones {
	width: 30em;
	height: 30em;
}
.formularioContacto {
	width: 30%;
	margin: auto;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
	label {
		font-weight: bolder;
		font-size: 1.4em;
		padding: 0.7em 0;
	}
	p {
		font-weight: bolder;
		font-size: 2em;
		padding-top: .6em;
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.campoEscritura {
	width: 80%;
	height: 3em;
	border: none;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	outline: 0;
}
.contactoPersonal {
	width: 27%;
	text-align: center;
	margin: auto;
	ul {
		li {
			list-style-type: none;
			a {
				text-decoration: underline;
				color: #000;
				font-size: 1.5em;
			}
		}
	}
	p {
		font-weight: bolder;
		font-size: 2em;
		padding-bottom: 1.2em;
	}
}
.caller {
	padding-bottom: 50px;
}
.containerContacto {
	display: flex;
	flex-direction: row;
	padding-bottom: 3em;
}
.sendForm {
	padding: .7em 0;
}
.ubicacionPosada {
	margin: auto;
	width: 80%;
	iframe {
		width: 100%;
	}
}
.atraccionRow-1 {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding: 3em 0;
}
.atraccionRow-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 3em 0;
}
.card-text {
	font-size: 1.3em;
}
@media (min-width: 769px) and (max-width: 1024px) {
	.valoraciones {
		display: flex;
		flex-direction: column;
		img {
			width: 80%;
		}
		p {
			font-size: 1em;
		}
	}
	.valoracionesItems {
		display: flex;
		flex-direction: column;
	}
	.container-fluid {
		padding: .5em 0;
	}
	.flexContainer {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-template-columns: 12em 7em;
	}
	.flexItem {
		height: 2em;
	}
	.flexTable-1 {
		display: flex;
		justify-content: center;
	}
	.flexTable-2 {
		display: flex;
		justify-content: center;
	}
	.imagenes-habitaciones {
		width: 98%;
	}
	.containerContacto {
		flex-direction: column;
	}
	.formularioContacto {
		width: 90%;
	}
	.campoEscritura {
		width: 70%;
	}
	.contactoPersonal {
		display: flex;
		flex-direction: column;
		width: 90%;
		padding-top: 3em;
		p {
			font-size: 1.3em;
		}
		ul {
			li {
				a {
					font-size: 1.3em;
				}
			}
			text-align: center;
		}
	}
	.caller {
		padding-bottom: 27px;
	}
}
@media (min-width: 481px) and (max-width: 768px) {
	.valoraciones {
		display: flex;
		flex-direction: column;
		img {
			width: 80%;
		}
		p {
			font-size: 1em;
		}
	}
	.valoracionesItems {
		display: flex;
		flex-direction: column;
	}
	.container-fluid {
		padding: .5em 0;
	}
	.flexContainer {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-template-columns: 12em 7em;
		font-size: 1.3em;
	}
	.flexItem {
		height: 4em;
	}
	.flexTable-1 {
		display: flex;
		justify-content: center;
	}
	.flexTable-2 {
		display: flex;
		justify-content: center;
	}
	.imagenes-habitaciones {
		width: 98%;
	}
	.caller {
		padding-bottom: 28px;
		padding-bottom: 25px;
	}
	.containerContacto {
		flex-direction: column;
	}
	.formularioContacto {
		width: 90%;
	}
	.campoEscritura {
		width: 90%;
	}
	.contactoPersonal {
		display: flex;
		flex-direction: column;
		width: 90%;
		padding-top: 3em;
		p {
			font-size: 1.3em;
		}
		ul {
			li {
				a {
					font-size: 1.3em;
				}
			}
			text-align: center;
		}
	}
}
@media (min-width: 320px) and (max-width: 480px) {
	.valoraciones {
		display: flex;
		flex-direction: column;
		img {
			width: 80%;
		}
		p {
			font-size: 1em;
		}
	}
	.valoracionesItems {
		display: flex;
		flex-direction: column;
	}
	.container-fluid {
		padding: .5em 0;
	}
	.flexContainer {
		display: grid;
		justify-content: center;
		align-content: center;
		grid-template-columns: 12em 7em;
		font-size: 1em;
	}
	.flexItem {
		height: 4em;
	}
	.flexTable-1 {
		display: flex;
		justify-content: center;
	}
	.flexTable-2 {
		display: flex;
		justify-content: center;
	}
	.imagenes-habitaciones {
		width: 98%;
	}
	.containerContacto {
		flex-direction: column;
	}
	.formularioContacto {
		width: 90%;
	}
	.campoEscritura {
		width: 90%;
	}
	.contactoPersonal {
		display: flex;
		flex-direction: column;
		width: 90%;
		padding-top: 3em;
		p {
			font-size: 1.3em;
		}
		ul {
			li {
				a {
					font-size: 1.3em;
				}
			}
			text-align: center;
		}
	}
	.caller {
		padding-bottom: 20px;
	}
}